      /* @font-face { font-family: Typewriter; src: url('1942.ttf'); } */
@font-face { font-family: Pixelated; src: url('../fonts/ms-sans-serif-1.ttf'); }
html {
  font-family: Pixelated, sans-serif;
}

body {
            /* font-family: Typewriter, Arial, sans-serif; */
            margin: 0;
            padding: 0; 
            background-image: url('../media/misc/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }
        
        .pear {
            text-align:right;
        }

        .container {
            width: 950px;
            margin: 0 auto;
            padding: 20px;
            background-color: transparent;
            border: 2px solid #555;
            box-shadow: 0px 0px 10px #000;
        }

        .header {
            background-color: #222;
            padding: 15px;
            font-size: 24px;
            text-align: center;
            color: #ffffff;
            border-bottom: 5px;
        }

        table {
            width: 100%;
            margin-top: 15px;
        }

        td {
            padding: 10px;
            vertical-align: top;
            border: 1px;
        }

        .profile-picture {
            text-align: center;
        }

        .profile-picture img {
            width: 150px;
            height: 150px;
            border-radius: 0px;
            border: 3px;
        }

        .section-header {
            background-color: #222;
            font-size: 18px;
            padding: 5px;
            text-align: left;
            color: #fff;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .about {
            background-color: #000;
            color: #fff;
            padding: 7px;
        }

        .friends-list img {
            width: 50px;
            height: 50px;
            margin: 5px;
            border: 2px solid #555;
        }

        .movie-list img {
            background-color: #333;
            width: 160px;
            height: 240px;
            margin: 5px;
            border: 2px solid #555;
        }

        a {
            color: #c22c27;
            text-decoration: none;
        }
        
        a.black {
            color: #000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Simple JavaScript Effect */
        .status-button {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }

        .status-message {
            background-color: #555;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
            display: none;
        }